<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Расчет отпускных</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/static/lodash.js"></script>
	<script src="js/static/dayjs/dayjs.min.js"></script>
	<script src="js/static/dayjs/customParseFormat.js"></script>
	<script>
		dayjs.extend(window.dayjs_plugin_customParseFormat)
	</script>

	<script src="js/static/vue.global.js"></script>
</head>

<body>
<div id="app" v-cloak>
	<div class="app-columns">
		<div class="box-with-header">
			<div class="box-header"><b>Период отпуска</b></div>
			<small>Указать дату начала отпуска и его продолжительность в днях</small>
			Начало: <input type="text" v-model="vacation_start"/>
			Кол-во дней: <input type="text" v-model="vacation_length"/>
			Конец: <span>{{vacationEnd}}</span>
			<div v-if="getHolidaysCount()">

			</div>
		</div>
		<div class="box-with-header">
			<div class="box-header"><b>Дата приема на работу</b></div>
			Дата: <input type="text" v-model="employmentDate"/>
		</div>
		<div class="box-with-header">
			<div class="box-header"><b>Расчетный период</b></div>
			Начало: <input type="text" v-model="calcPeriod.start"/>
			Конец: <input type="text" v-model="calcPeriod.end"/>
			<div v-for="error in calcPeriodErrors" class="red-color">
				{{error}}
			</div>
		</div>
		<div>
			<button @click="clearAllExclusions">Очистить все исключения</button>
		</div>
		<div class="box-with-header">
			<div class="box-header">Исключения из периода: <b>отпуск</b></div>
			<small>Учитываются праздники при подсчете продолжительности указанного периода</small>
			<div v-for="(period, idx) in enhancedVacations">
				Начало: <input :value="period.start"
							   @input="datePlaceholderChangeHandler($event, types.vacation, idx, 'start')"
							   ref="recentVacationInput"
							   :class="{'date-invalid': period.start && !isValidDate(period.start)}"
			/>
				Конец: <input :value="period.end"
							  @input="datePlaceholderChangeHandler($event, types.vacation, idx, 'end')"
							  :class="{'date-invalid': period.end && !isValidDate(period.end)}"
							  @keydown.enter="addVacationPeriodRow()"/>
				Дней: <span v-if="isValidDate(period.start) && isValidDate(period.end)">
							{{period.length}}
							<span v-for="p in period.sickPeriods"> (БЛ: {{p.start}} - {{p.end}})</span>
							<span v-if="period.holidaysCount"> (праздн. дней - {{period.holidaysCount}})</span>
					  </span>
				<div v-if="period.sickPeriods.length && !period.hasProlongation" class="red-color">
					Нет продления отпуска
				</div>
				<div v-for="error in excludedPeriodsErrors[period.originIndex]" class="red-color">
					{{error}}
				</div>
			</div>
			<button type="button" @click="addVacationPeriod()" class="no-print">
				Добавить период
			</button>
		</div>

		<div class="box-with-header">
			<div class="box-header">Исключения из периода: <b>продление отпуска</b></div>
			<small>Учитываются праздники при подсчете продолжительности указанного периода</small>
			<div v-for="(period, idx) in enhancedProlongations">
				Начало: <input :value="period.start"
							   @input="datePlaceholderChangeHandler($event, types.vacation_prolongation, idx, 'start')"
							   ref="vacationProlongationInput"
							   :class="{'date-invalid': period.start && !isValidDate(period.start)}"
			/>
				Конец: <input :value="period.end"
							  @input="datePlaceholderChangeHandler($event, types.vacation_prolongation, idx, 'end')"
							  :class="{'date-invalid': period.end && !isValidDate(period.end)}"
							  @keydown.enter="addVacationProlongationPeriod()"/>
				Дней:	<span v-if="isValidDate(period.start) && isValidDate(period.end)">
							{{period.length}}
						</span>
				<div v-for="error in excludedPeriodsErrors[period.originIndex]" class="red-color">
					{{error}}
				</div>
			</div>
			<button
					class="no-print"
					type="button"
					@click="addVacationProlongationPeriod()"
			>
				Добавить период
			</button>
		</div>

		<div class="box-with-header">
			<div class="box-header">Исключения из периода: <b>больничный лист</b></div>
			<small><b>НЕ</b> учитываются праздники при подсчете продолжительности указанного периода</small>
			<div v-for="(period, idx) in sickPeriods">
				Начало: <input :value="period.start"
							   @input="datePlaceholderChangeHandler($event, types.sick, idx, 'start')"
							   ref="sickPeriodInput"
							   :class="{'date-invalid': period.start && !isValidDate(period.start)}"
			/>
				Конец: <input :value="period.end"
							  @input="datePlaceholderChangeHandler($event, types.sick, idx, 'end')"
							  :class="{'date-invalid': period.end && !isValidDate(period.end)}"
							  @keydown.enter="addSickPeriod()"/>
				Дней: <span v-if="isValidDate(period.start) && isValidDate(period.end)">
							{{daysBetweenDatesInclusive(period.start, period.end)}}
					  </span>
				<div v-for="error in excludedPeriodsErrors[period.originIndex]" class="red-color">
					{{error}}
				</div>
			</div>
			<button type="button" @click="addSickPeriod()" class="no-print">
				Добавить период
			</button>
		</div>
		<div class="box-with-header">
			<div class="box-header">Исключения из периода: <b>отпуск без сохранения ЗП</b></div>
			<small><b>НЕ</b> учитываются праздники при подсчете продолжительности указанного периода</small>
			<div v-for="(period, idx) in leaveOfAbsencePeriods">
				Начало: <input :value="period.start"
							   @input="datePlaceholderChangeHandler($event, types.leave_of_absence, idx, 'start')"
							   ref="leaveOfAbsenceInput"
							   :class="{'date-invalid': period.start && !isValidDate(period.start)}"
			/>
				Конец: <input :value="period.end"
							  @input="datePlaceholderChangeHandler($event, types.leave_of_absence, idx, 'end')"
							  :class="{'date-invalid': period.end && !isValidDate(period.end)}"
							  @keydown.enter="addLeaveOfAbsencePeriod()"/>
				Дней: <span v-if="isValidDate(period.start) && isValidDate(period.end)">
							{{daysBetweenDatesInclusive(period.start, period.end)}}
					  </span>
				<div v-for="error in excludedPeriodsErrors[period.originIndex]" class="red-color">
					{{error}}
				</div>
			</div>
			<button type="button" @click="addLeaveOfAbsencePeriod()" class="no-print">
				Добавить период
			</button>
		</div>

		<div class="box-with-header">
			<div class="box-header"><b>Средний дневной заработок</b></div>
			<input type="text" @input="workerSumChangedHandler" :value="workerSum"/>
		</div>
	</div>
	<div class="app-columns">
		<div v-if="errors.length" class="box-with-header error-fieldset">
			<div class="box-header"><b>Ошибки</b></div>
			<div v-for="error in errors">{{error}}</div>
		</div>

		<div class="box-with-header">
			<div class="box-header"><b>Расчетная таблица</b></div>
			<table class="result-table">
				<tr>
					<th>Месяц.Год</th>
					<th>Кол-во рабочих дней</th>
				</tr>
				<tr v-for="row in resultTable"
					:class="{'not-full-month': !row.isFullMonth}"
				>
					<td>{{row.monthYear}}</td>
					<td>{{row.workDays}}</td>
				</tr>
			</table>
		</div>

		<div class="box-with-header">
			<div class="box-header"><b>Расчеты</b></div>
			<div>
				<div class="box-with-header">
					Средний дневной заработок - <b>{{avgSum.toFixed(2)}}</b> руб.
				</div>
				<div class="box-with-header">
					Отработано дней в периоде - <b>{{totalWorkingDays.toFixed(2)}}</b>
				</div>
				<div class="box-with-header">
					Сумма отпускных - {{(avgSum * vacation_length).toFixed(2)}} ({{vacation_length}} &times; {{avgSum}})
				</div>
				<div class="box-with-header">
					НДФЛ - {{(avgSum * vacation_length * 0.13).toFixed(2)}}
				</div>
				<div class="box-with-header">
					На руки - {{(avgSum * vacation_length * 0.87).toFixed(2)}}
				</div>

				<!--
				<pre>{{JSON.stringify(this.splitByMonthPeriods, null, 2)}}</pre>
				<pre>{{JSON.stringify(this.excludedPeriodsWithStopVacationAfterSick, null, 2)}}</pre>
				<div>{{JSON.stringify(this.splitByMonthPeriods)}}</div>
				<div>{{JSON.stringify(this.notWorkingDays)}}</div>
				<pre>{{JSON.stringify(this.calcPeriods, null, 1)}}</pre>
				-->
			</div>
		</div>
	</div>
</div>
<div style="text-align: center;margin-top: 20px;">
	<a href="https://vasyahh.github.io/vacation_money_calculator/" style="text-decoration: none;color:#777">
		github
	</a>
</div>
<script src="js/app.js"></script>
</body>
</html>
